<div *ngIf="product">
    <h2>{{product.name}}</h2>
    <div>
        <label>Id: </label>{{product.productId}}
    </div>
    <div>
        <label>Name: </label>
        <input [(ngModel)]="product.name" placeholder="name" />
    </div>
    <div>
        <label>Price: </label>
        <input [(ngModel)]="product.price" placeholder="price" />
    </div>    
    <div>
        <label>Category Id: </label>
        <!-->input [(ngModel)]="product.categoryName" placeholder="categoryName" /-->
        <!-->dropdown [values]="dropdownValues" (select)="action($event.value)">{{product.categoryId}}</!--dropdown-->
        <!-->input [(ngModel)]="product.categoryId" placeholder="categoryId" /-->
        <!--select [(ngModel)]="selectedCountry.id">
            <option *ngFor="let country of countries" value={{country.id}}>
                {{country.name}}
            </option>
        </!--select-->

        <select [(ngModel)]="selectedCategory.categoryId">
            <option *ngFor="let categoryApi of categories" value={{categoryApi.categoryId}}>
                {{categoryApi.name}}
            </option>
        </select>
    </div>

    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>